@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-schedule/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-kanban/styles/material.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* kanban component */
.e-kanban {
  @apply dark:bg-gray-800 bg-white rounded-lg
}

/* kanban cards wrapper */
.e-kanban .e-kanban-table.e-content-table .e-content-row:not(.e-swimlane-row) td {
  @apply dark:bg-gray-600 bg-gray-200 rounded-lg max-h-4
}

/* kanban titles wrapper */
.e-kanban .e-kanban-table .e-header-cells  {
  @apply dark:bg-gray-600 dark:text-white bg-gray-200 text-white
}

/* Titulo das colunas */
.e-kanban .e-kanban-table .e-header-cells .e-header-text  {
  @apply  dark:text-white text-black
}

/* Quantidade de itens ao lado do titulo */
.e-kanban .e-kanban-table .e-header-cells .e-item-count  {
  @apply  dark:text-gray-200 text-gray-800
}

/* kanban titles wrapper closed */
.e-kanban .e-kanban-header .e-header-cells.e-collapsed {
  @apply dark:bg-gray-600 dark:text-white bg-gray-200 text-white
}

/* indicativo quando a coluna estiver fechada */
.e-kanban .e-kanban-content .e-content-row .e-content-cells.e-collapsed .e-collapse-header-text  {
  @apply  dark:text-gray-200 text-gray-800
}

/* wrapper dos titulos e dos wrappers dos cards */
.e-kanban .e-kanban-table {
  @apply mt-2
};

.custom-kanban-card{
  @apply dark:bg-gray-500 bg-white p-5 rounded-lg
}

.custom-kanban-card-title{
  @apply dark:text-white text-black
}

.custom-kanban-card-summary{
  @apply dark:text-gray-200 text-gray-800
}

/* .e-header-title div {
  @apply w-[100%]
}; */



/* dropdown */
/* .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
  @apply w-full rounded-lg px-3 py-2 dark:bg-gray-500 bg-gray-200 dark:text-white dark:placeholder:text-gray-200 text-black
} */
/* .dropdown-kanban {
  @apply w-full rounded-lg px-3 py-2 dark:bg-gray-500 bg-gray-200 dark:text-white dark:placeholder:text-gray-200 text-black
} */